*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-gray-100: #f3f4f6;
  --clr-gray-200: #e5e7eb;
  --clr-gray-300: #d1d5db;
  --clr-gray-400: #9ca3af;
  --clr-gray-500: #6b7280;
  --clr-gray-600: #4b5563;
  --clr-gray-700: #374151;
  --clr-gray-800: #1f2937;
  --clr-gray-900: #111827;
}

body {
  background-color: var(--clr-gray-100);
}
.card {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  max-width: 250px;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.8);
}

.card > img {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
